body {
    background-color: lavender;
    font-family: monospace;
}

@media(max-width: 500px){
section#reviews {
    display: none;
}
}

@media(min-width: 500px) {
    section#reviews {
        display:block;
    }
}
